[submodule "iOS/submodules/privacy-reference-tests"]
	path = iOS/submodules/privacy-reference-tests
	url = https://github.com/duckduckgo/privacy-reference-tests
[submodule "macOS/Submodules/privacy-reference-tests"]
	path = macOS/Submodules/privacy-reference-tests
	url = https://github.com/duckduckgo/privacy-reference-tests
[submodule "SharedPackages/BrowserServicesKit/Tests/BrowserServicesKitTests/Resources/privacy-reference-tests"]
	path = SharedPackages/BrowserServicesKit/Tests/BrowserServicesKitTests/Resources/privacy-reference-tests
	url = https://github.com/duckduckgo/privacy-reference-tests
